html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#logo {
    padding: 20px;
}

#logo p {
    font-size: 5em;
}

h2, h3 {
    padding: 1.5em 0 .5em 0;
    font-weight:bold;
}

h1 {
    padding: .5em 0 1em 0;
    font-weight:bold;
    font-size: 2em;
}

h2 {
    font-size: 1.6 em;
}

h3 {
    font-size: 1.4 em;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    /*width: 100%*/
}
tr {
    border: 0;
}
td, th {
    font: 1em verdana, arial, helvetica, sans-serif;
    line-height: 1.2em;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
    border: 1px solid;
}
th {
    color: #666;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #fff;
}

form table, form table td, th {
    border: 0;
}

/* NAVIGATION */
#menu {
    padding: .5em;
    background: #ccc;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
    padding: .5em;
}

/* MAIN */
#main {
    padding: 1em;
    min-height: 200px; /* increase as desired */
}

/* FOOTER */
#ft {
    padding: 2em;
    background: #ccc;
}
#ft p {
    text-align: center;
}

/* FLASH MESSAGE */
.message {
    background-color: yellow;
    font-weight: bold;
    font-size: 1.2em;
    padding: .5em;
    margin: .5em;
}